html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
    body {
        color: white;
        background: #90A4B0;
    }
}

.h4 {
  text-align: center;

}

.button {
  background-color: #2039ba; /* Green */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.container {
    border: 2px solid #dedede;
    background-color: #0094ff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    padding-bottom: 25px;
}

.hMargin {
  margin-bottom: 5px;
}

.sName {
  color: black;
}

.timeRight {
    float: right;
    color: rgb(0, 0, 0);
}

.reply {
    float: right;
    color: #ff006e;
}


.taskPage {
    border: 2px solid #000000;
    margin-Top: 10px;
    margin-Left: 8px;
    margin-Bottom: 10px;

}
.taskTitle {
    background-color:  #9d9d9d;
    width: 350px;
    margin-left:  10px;
    margin-Bottom: 5px;
    grid-Area: auto;
    align-Self: flex-start;
}

.questionTitle {
    background-color:  #9d9d9d;
    text-align: center;
    width: 400px;
    margin-left:  100px;
    grid-Area: 1 / col4-start / last-line / 6;
    padding-bottom: 200px;
}

.note {
  color:#ffffff;
  margin: .5vw;
  padding: 0.5em;
  border-left: 0.5em solid #ff0000;
  background: #ff9898;
}

.question {
    text-align: left;
}

.replyBar {
    text-align: right;
}

.goalContainer {
    border: 2px solid #dedede;
    background-color: #0094ff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    padding-bottom: 25px;
    color: black;
    margin-left: 10px
}

.taskBoard {
    margin-Top: 10px;
    margin-Left: 8px;
    margin-Bottom: 10px;
}

.goalName {
    color: black;
    font-size: 35px;
}

.goalBox {
    overflow: visible !important;
    width: auto !important;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

.taskDropdown {
    margin-Top: 10px;
    margin-Left: 8px;
    margin-Bottom: 10px;
    right: 25px;
    left: -15px;
}

.headerText {
    text-align: center;
}

